body {
  background-color: #e5e6e8 !important;
}
p {
  margin-top: 0 !important;
  margin-bottom: 0rem !important;
}

/* start sidebar styles */

.user-role {
  width: 110px;
}

.nav-item {
  cursor: pointer;
}

/* end sidebar styles */

/* Start Signup page */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
/* end Signup page */

/* Start Ticket Table */

.block-container {
  background-color: white;
  margin-top: 30px;
  padding: 30px;
  border-radius: 30px;
}

/* End Ticket Table */
